<div class="row">
  <div class="mx-auto" style="width: 65%;">
    <h2 style="margin-top: 20px;">Faire un transfert</h2>
    <div class="alert alert-warning" style="text-align: center;" role="alert" *ngIf="disableSubmit()">
      Désolé, il n'y a plus de pièces disponibles.
    </div>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" id="name" [ngClass]="['form-control', getValidStatus('name')]" formControlName="name">
        <div class="invalid-feedback"> {{ getFormValidationErrors("name") }} </div>
      </div>
      <div class="form-group">
        <label for="surname">Prénom</label>
        <input type="text" id="surname" [ngClass]="['form-control', getValidStatus('surname')]" formControlName="surname">
        <div class="invalid-feedback"> {{ getFormValidationErrors("surname") }} </div>
      </div>
      <div class="form-group">
        <label for="phone">Numéro de téléphone</label>
        <input type="tel" id="phone" [ngClass]="['form-control', getValidStatus('phone')]" formControlName="phone">
        <div class="invalid-feedback"> {{ getFormValidationErrors("phone") }} </div>
      </div>
      <div class="form-group">
        <label for="email">Addresse mail</label>
        <input type="text" id="email" [ngClass]="['form-control', getValidStatus('email')]" formControlName="email">
        <div class="invalid-feedback"> {{ getFormValidationErrors("email") }} </div>
      </div>
      <div class="alert alert-primary text-justify" style="text-align: center;" role="alert">
        Il est important de bien remplir le questionnaire suivant, car le texte lu va dépendre
        des différentes cases cochées. (Le texte ne sera pas le même s’il y a une sorte de
        fruits ou plusieurs, s’il l’on possède une <i>Prouta Hamoura</i> ou pas, etc…)
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="quantity" id="single-fruit" value="single" formControlName="quantity">
        <label class="form-check-label" for="single-fruit">Une sorte de fruits</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="quantity" id="multiple-fruit" value="multiple" formControlName="quantity">
        <label class="form-check-label" for="multiple-fruit">Plusieurs sortes de fruits</label>
      </div>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="tevel" value="tevel" formControlName="type">
        <label class="form-check-label" for="tevel"><i>Tévèl</i> (aucun prélèvement n’a été fait au préalable)</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="dmai" value="dmai" formControlName="type">
        <label class="form-check-label" for="dmai"><i>Dmaï</i> (doute si des prélèvements ont été faits)</label>
      </div>
      <div class="alert alert-light" style="text-align: center;" role="alert" *ngIf="displayText()">
        {{displayText()}}
      </div>
      <div class="form-group">
        <label for="comment">Commentaire</label>
        <textarea id="comment" class="form-control" formControlName="comment" style="resize: vertical;">
          </textarea>
      </div>
      <button class="btn btn-success" [disabled]="this.postForm.invalid || disableSubmit()" type="submit">Transférer
      </button>
    </form>
  </div>
  <br>
  <div class="mx-auto text-justify " style="opacity: 0;" id="explanation">
    <div class="m-3" style="margin-top: 20px;" markdown [src]="'../../assets/TeroumaExplication.md'"></div>
  </div>
</div>
<div id="cookieConsent">
  <div id="closeCookieConsent">x</div>
  This website is using cookies. <a href="#" target="_blank">More info</a>. <a class="cookieConsentOK">That's Fine</a>
</div>